<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create User</h5>
                    <form  [formGroup]="userForm">
                        <div class="form-group">
                            <label for="inputfirstName" [ngClass]="{'required': checkField(userForm.get('firstName')) }">First Name *</label>
                            <input type="text" class="form-control" formControlName="firstName" [ngClass]="{'required': checkField(userForm.get('firstName')) }"  id="inputfirstName" placeholder="First Name" >
                        </div>
                        <div class="form-group">
                            <label for="inputlastName" [ngClass]="{'required': checkField(userForm.get('lastName')) }">Last Name *</label>
                            <input type="text" class="form-control" formControlName="lastName"  [ngClass]="{'required': checkField(userForm.get('lastName')) }" id="inputlastName" placeholder="Last Name" >
                        </div>

                        <div class="form-group">
                            <label for="inputemailAddress" [ngClass]="{'required': checkField(userForm.get('emailAddress')) }">Email address *</label>
                            <input type="text" class="form-control" formControlName="emailAddress" [ngClass]="{'required': checkField(userForm.get('emailAddress')) }"  id="inputemailAddress" placeholder="Email address" >
                        </div>

                        <div class="form-group">
                            <label for="inputphoneNo" [ngClass]="{'required': checkField(userForm.get('phoneNo')) }" >Phone Number *</label>
                            <input type="text" class="form-control" formControlName="phoneNo" [ngClass]="{'required': checkField(userForm.get('phoneNo')) }"  id="inputphoneNo" placeholder="Phone Number" >
                        </div>

                        <div class="form-group">
                            <label for="inputaddress" [ngClass]="{'required': checkField(userForm.get('address')) }">Address </label>
                            <input type="text" class="form-control" formControlName="address" [ngClass]="{'required': checkField(userForm.get('address')) }" id="inputaddress" placeholder="Address" >
                        </div>

                        <div class="form-group">
                            <label for="inputzipCode">Zip code </label>
                            <input type="text" class="form-control" formControlName="zipCode" id="inputzipCode" placeholder="Zip code" >
                        </div>

                        <div class="form-group">
                            <label for="inputcountryCode">Country Code </label>
                            <input type="text" class="form-control" formControlName="countryCode"  id="inputcountryCode" placeholder="Country Code" >
                        </div>
                    
                      
                    
                        <p class="alert alert-warning" role="alert" *ngIf="isProcessing">
                            Please wait..
                        </p>
                    
                        <button  *ngIf="!isProcessing" type="button" (click)="onSubmit($event)" class="btn btn-primary btn-block submitbutton" [disabled]="!userForm.valid && !isProcessing">{{getButtonText()}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


