.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.table-responsive{height:400px;overflow:scroll;} 
.tableFixHead          { overflow-y: auto; height: 400px;}
.tableFixHead thead th { position: sticky; top: 0;opacity:1; }


