<div class="container" style="background-color: rgb(255, 255, 255);">
    <div class="row">
        <div class="col-md-12">
            <h5 class="card-title text-center">Users list</h5>
            <div class="col-12 col-md-12 col-lg12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fa fa-search  "></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control  form-control-borderless"
                                (input)="onSearchUser($event.target.value)" type="search"
                                placeholder="Search ">
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive tableFixHead">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <th></th>
                        <th [class.active]="order === 'firstName'" (click)="setOrder('firstName')" style="cursor: pointer;">First Name
                            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th>
                        <th (click)="setOrder('lastName')" style="cursor: pointer;">Last Name
                            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th >
                        <th [class.active]="order === 'address'"  (click)="setOrder('address')" style="cursor: pointer;">Address
                            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="order === 'emailAddress'"  (click)="setOrder('emailAddress')" style="cursor: pointer;">Email
                            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="order === 'phoneNo'"  (click)="setOrder('phoneNo')" style="cursor: pointer;">Contact
                            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th>
                        <th [class.active]="order === 'countryCode'"  (click)="setOrder('countryCode')" style="cursor: pointer;">Country Code
                            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span></th>
                        <th [class.active]="order === 'zipCode'"  (click)="setOrder('zipCode')">Zip Code
                            <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of userData | orderBy: order:reverse:'case-insensitive' ">
                            <td> </td>
                            <td>{{item && item.firstName}}</td>
                            <td>{{item && item.lastName}}</td>
                            <td>{{item && item.emailAddress}}</td>
                            <td>{{item && item.address}}</td>
                            <td>{{item && item.phoneNo}}</td>
                            <td>{{item && item.countryCode}}</td>
                            <td>{{item && item.zipCode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <nav aria-label="Page navigation example">
                <ul class="pagination pull-right">
                    <!-- <li class="page-item" (click)="pagination(1)"><a class="page-link" >Previous</a></li> -->
                    <li class="page-item" (click)="pagination(1)"><a class="page-link">1</a></li>
                    <li class="page-item" (click)="pagination(2)"><a class="page-link">2</a></li>
                    <li class="page-item" (click)="pagination(3)"><a class="page-link">3</a></li>
                    <li class="page-item" (click)="pagination(4)"><a class="page-link">4</a></li>
                    <li class="page-item" (click)="pagination(5)"><a class="page-link">5</a></li>
                    <li class="page-item" (click)="pagination(6)"><a class="page-link">6</a></li>
                    <!-- <li class="page-item" (click)="pagination(1)"><a class="page-link" >Next</a></li> -->
                </ul>
            </nav>
        </div>
    </div>
</div>