/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body.publicPage {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff416c, #a5cde0, #dce7e9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff416c, #a5cde0, #dce7e9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  }

  :root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }

  
  .form-control.required {
    border: 1px solid red;
  }

  .required {
    color : red;
  }